In [9]:
import mysql.connector
import pandas as pd
from sqlalchemy import create_engine

ModuleNotFoundError: No module named 'mysql'

In [6]:
# 1. Connessione con mysql.connector per creare la tabella movies
conn = mysql.connector.connect(
    host="mysql-project-onthemovie-projectsac-onthemovie-5.g.aivencloud.com",      
    user="avnadmin",
    port = 26769,           
    password="AVNS_Fy4BMGZ0bvPNOWpGySn",
    database="Europa"
)
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE mutui_affitti_utility (
    id INT,
    Unit_of_measure VARCHAR(50),
    stato VARCHAR(100),
    TIME_PERIOD YEAR,
    OBS_VALUE DECIMAL(5,2),
    CONSTRAINT PK_Mutui PRIMARY KEY (id,TIME_PERIOD)
);
""")
conn.commit()
cursor.close()
conn.close()

# 2. Caricamento del CSV con Pandas
df1 = pd.read_csv("../Datasets_unpivot_pulito/Arrears_mortgage_rent_utility_bills_hire purchase_2024_unpivot.csv")

# 3. Connessione con SQLAlchemy per importare i dati
db_url = "mysql+mysqlconnector://avnadmin:AVNS_Fy4BMGZ0bvPNOWpGySn@mysql-project-onthemovie-projectsac-onthemovie-5.g.aivencloud.com:26769/Europa"
engine = create_engine(db_url, echo=False)

with engine.begin() as connection:
    df1.to_sql(
        name="mutui_affitti_utility",
        con=connection,
        index=False,
        if_exists="append"
    )
print("Importazione completata.")

NameError: name 'mysql' is not defined